name: Front-end Build & Publish

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - "feature/*"

permissions:
  contents: read
  packages: write

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Downcase REPO variable
        run: echo "REPO=${GITHUB_REPOSITORY,,}" >> "$GITHUB_ENV"

      - name: Install pnpm and Build
        run: |
          npm install -g pnpm
          pnpm install
          pnpm run build

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/${{ env.REPO }}
